# Compiled outputs
*.exe
*.dll
*.obj
*.pdb
*.ilk
*.exp
*.lib

# Build scripts
*.bat

# VS / IDE
.vscode/
*.user
*.suo
.vs/

# Detours prebuilt binaries (already compiled)
3. Hooking/3.2 Detour/detours/bin.X64/
3. Hooking/3.2 Detour/detours/lib.X64/